<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<% if(session.email){ %>
    <div style="background-color: #ffcccc;">
        <div style="padding:10px;">
            <form action="/users/logout" method="get">
                <%= session.email %>님 환영합니다.<input type="submit" style="margin-left:30px;" class="btn btn-light" value="로그아웃">
            </form>
        </div>
    </div>
    <div style="margin:10px;" id="menu_bar"></div>
<% } %>
<script>
    if(window.location.href.includes('history')){
        $('#menu_bar').append('<a href="/transfer" class="btn btn-info">송금하러 가기</a>');
    } else {
        $('#menu_bar').append('<a href="/transfer/history" class="btn btn-success">입출금내역 보러가기</a>');
    }
</script>