<%- include ../header.ejs %>
<div style="margin:10px;">
    <h3>송금하기</h3>
    잔액 : <span id="balance"><%= user_info.balance %></span>&nbsp;point
    <%- include new.ejs %>
</div>
</body>
<script>
    $('#pay_btn').click(function(){
        var userEmail = $('#user_email').val();
        var amount = $('#amount').val();
        if(userEmail == ''){
            alert('보낼 대상의 이메일을 입력하세요.');
            return;
        }else if((amount == ('' || 0)) || amount < 0){
            alert('금액을 바르게 입력하세요.');
            return;
        }
        $('#pay_btn').hide();
        $('#spinner').show();
        $.ajax({
            url: '/transfer/pay',
            dataType: 'json',
            type: 'POST',
            data: {userEmail: userEmail, amount: amount},
            success: function(result){
                $('#spinner').hide();
                $('#pay_btn').show();
                $('#msg_div').html('<p style="color:red;">'+result.result+'<p>');
                $('#balance').html(result.new_balance);
            }
        })
    });
</script>
</html>