<%- include ../header.ejs %>
<div style="margin:10px;">
    <h3>송금하기</h3>
    잔액 : <%= user_info.balance %>&nbsp;point
    <p style="color:red;"><%= msg %></p>
    <%- include new.ejs %>
    <br>
</div>
</body>
</html>