<form action="/transfer/pay" method="post">
    <!--    <input type="text" name="userEmail">에게-->
    <!--    <input type="text" name="amount">transfer-->
    <input type="text" name="userEmail" value="b@b.com">에게
    <input type="text" name="amount" value="10">point
    <input type="submit" value="송금하기">
</form>