<form action="/transfer/pay" method="post">
    <div class="form-group">
        <input type="email" value="b@b.com" name="userEmail" class="form-control" aria-describedby="emailHelp" placeholder="상대방의 이메일 주소를 입력하세요.">
        <input type="number" value="10" name="amount" class="form-control" placeholder="보낼 금액을 입력하세요.">
    </div>
    <button type="submit" class="btn btn-primary">송금하기</button>
</form>
<!--<form action="/transfer/pay" method="post">-->
<!--    <div class="form-group">-->
<!--        <input type="email" name="userEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="상대방의 이메일 주소를 입력하세요.">-->
<!--        <input type="number" name="amount" class="form-control" placeholder="보낼 금액을 입력하세요.">-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">송금하기</button>-->
<!--</form>-->
